/* CSS Resets */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
q,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    margin: 0;
    padding: 0
}

article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
    display: block
}

a img {
    border: 0
}

figure {
    position: relative
}

figure img {
    width: 100%
}


/* The 1140px Grid by Andy Taylor – http://cssgrid.net – http://www.twitter.com/andytlr – http://www.catchingzebra.com */

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    width: 50%;
    max-width: 1140px;
    margin: auto;
    overflow: hidden;
    background-color: white;
}

.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol {
    margin-right: 3.8%;
    float: left;
}

.onecol {
    width: 4.85%;
    /* background-color: red; */
}

.twocol {
    width: 13.5%;
    /* background-color: orange; */
}

.threecol {
    width: 23%;
    /* background-color: yellow; */
}

.fourcol {
    width: 27%;
    /* background-color: green; */
}

.fivecol {
    width: 39.45%;
    /* background-color: aqua; */
}

.sixcol {
    width: 48.1%;
    /* background-color: blue; */
}

.sevencol {
    width: 64.5%;
    /* background-color: purple; */
}

.eightcol {
    width: 65.4%;
    /* background-color: #4B4B4B; */
}

.ninecol {
    width: 74.05%;
    /* background-color: #4B4B4B; */
}

.tencol {
    width: 82.7%;
    /* background-color: #4B4B4B; */
}

.elevencol {
    width: 91.35%;
    /* background-color: #4B4B4B; */
}

.twelvecol {
    width: 100%;
    float: left;
    /* background-color: #4B4B4B; */
}

.last {
    margin-right: 0px;
}

img,
object,
embed {
    max-width: 100%;
}

/* Type & image presets */

img,
object,
embed {
    margin-bottom: 20px;
}

body {
    /* font-family: Helvetica Neue, Helvetica, Tahoma, sans-serif; */
    font-size: 14px;
    line-height: 24px;
    /* Changing this will break the baseline grid. */
    -webkit-text-size-adjust: none;
    /* Stops the iPhone scalling type up */
}

a {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px dashed black;
    color: black;
}

a:hover {
    color: #4B4B4B;
}

a img {
    display: block;
    /* Stops image links getting text link styles */
}

img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 5px solid black;
}

p,
ul,
ol,
blockquote {
    margin-bottom: 10px;
    /* Changing this will break the baseline grid. */
    font-size: 13px;
}

li {
    margin-bottom: -2px;
}

blockquote {
    border-left: 1px solid #c1c1c1;
    color: #747474;
    padding-left: 15px;
    margin-left: -15px;
}

h1 {
    font-size: 24px;
    line-height: 36px;
    /* Changing this will break the baseline grid. */
    margin-top: 20px;
    margin-bottom: 16px;
    /* Changing this will break the baseline grid. */
}

h2 {

    font-size: 20px;
    line-height: 22px;
    /* Changing this will break the baseline grid. */
    margin-top: 20px;
    margin-bottom: 16px;
    /* Changing this will break the baseline grid. */
}

h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
    /* Changing this will break the baseline grid. */
}

h4 {
    font-size: 16px;
    margin-bottom: 4px;
    /* Changing this will break the baseline grid. */
}